body {
    text-align: center;
    position:relative;
}
.win {
    position: absolute;
    margin: 0 auto;
    left: 50%;
    margin-left: -125px;
    margin-top: 180px;
    padding: 25px 0;
    width: 100%;
    max-width: 250px;
    text-align: center;
    background: #fff;
    border: 2px solid #3aab88;
    border-radius: 20px;
}

.again {
    border: 1px solid #1b9a99;
    background-color: #1b9a99;
    line-height: 2;
    border-radius: 8px;
    padding: 10px 30px;
    outline: none;
    cursor: pointer;
    color: #fff;
}